<a href="https://colab.research.google.com/github/hewp84/CRT420/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS: Views and Selection

## Viewing data

### Head and Tail Methods

The head() and tail() methods allow us to view a subset of rows from the top or bottom of a DataFrame.

Some key points about head() and tail():

* The default is 5 rows if N is not provided.
* Helpful for quickly checking/previewing data.
* More efficient than loading the full DataFrame.
* Works on any Pandas object like Series too.

In [ ]:
import pandas as pd
import numpy as mnp

In [ ]:
import pandas as pd

data = {'Name': ['Ronald', 'Brock', 'Liz', 'Hector', 'Lionel', 'Gabriel', 'Aaron', 'Ben'],
        'Age': [25, 27, 31, 19, 34, 22, 20, 29]}

df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df.tail(2)

In [ ]:
df_world = pd.read_csv('world-data-2023.csv')

In [ ]:
df_world.head(10)

In [ ]:
#Try different parameters for the given methods...

### Describe Method

The describe() method generates descriptive statistics for the DataFrame. It provides different output for numeric and object/categorical columns.

For quantitative data, describe() includes:

* count - The number of non-NaN values in each column.
* mean - The average value for each column.
* std - The standard deviation, measuring how dispersed the values are from the mean.
* min - The minimum value in each column.
* 25% - The 25th percentile, where 25% of values are lower.
* 50% - The median or 50th percentile. The midpoint of the values.
* 75% - The 75th percentile, where 75% of the values are lower.
* max - The maximum value in each column.

Syntax: `DataFrame.describe(percentiles=None, include=None, exclude=None) `

In [ ]:
df_sample = pd.read_csv('sample.csv')
df_sample.describe(exclude=[object])

In [ ]:
df_world['Official language'].head()

In [ ]:
df_world['Official language'].describe()

## Selection

#### Bracket Notation []

Select columns:

* Single bracket selects one column as a Series
* Double bracket passes a list of column names to select multiple columns

In [ ]:
df['A'] # Single column as Series
df[['A', 'B']] # Multiple columns as DataFrame

#### loc Attribute

Select rows and columns by label:

* Single label selects one row
* Slice with ':' to select a range of rows
* ':' alone selects all rows

In [ ]:
df.loc[1] # Single row by label 
df.loc[1:5] # Slice of rows
df.loc[:, 'A'] # All rows, single column

#### iloc Attribute

Select rows and columns by integer position:

* Single integer selects one row/column
* Slice with ':' to select a range
* ':' alone selects all rows/columns

In [ ]:
df.iloc[1] # Row by integer position
df.iloc[1:5, 0:2] # Slice of rows and columns 
df.iloc[:, 2] # All rows, single column

#### Boolean Masking

Select rows where boolean condition is met:

In [ ]:
df[df['A'] > 0] # Rows where column A is positive

In [ ]:
df_world[df_world['Fertility Rate'] > 2][['Country','Fertility Rate']]