<a href="https://colab.research.google.com/github/hewp84/CRT420/blob/main/Pandas_activity_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS: Activity 3

Analyze a dataset using grouping and aggregation methods.
Please use `grouped`, `pivot`, `pivot_table`, or `melt` to answer the following questions.

In [2]:
import pandas as pd
hotel = pd.read_csv('hotel_bookings_raw.csv')
hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,INFLATION,INFLATION_CHG,CSMR_SENT,UNRATE,INTRSRT,GDP,FUEL_PRCS,CPI_HOTELS,US_GINI,DIS_INC
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,1.8,0.0,93.1,5.3,0.75,18306.960,194.0,0.187566,41.2,41355.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,1.8,0.0,93.1,5.3,0.75,18306.960,194.0,0.187566,41.2,41355.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,1.8,0.0,93.1,5.3,0.75,18306.960,194.0,0.187566,41.2,41355.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,1.8,0.0,93.1,5.3,0.75,18306.960,194.0,0.187566,41.2,41355.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,1.8,0.0,93.1,5.3,0.75,18306.960,194.0,0.187566,41.2,41355.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,1.7,0.0,95.1,4.4,1.75,19561.896,204.2,0.151972,41.2,42834.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,1.7,0.0,95.1,4.4,1.75,19561.896,204.2,0.151972,41.2,42834.0
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,1.7,0.0,95.1,4.4,1.75,19561.896,204.2,0.151972,41.2,42834.0
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,1.7,0.0,95.1,4.4,1.75,19561.896,204.2,0.151972,41.2,42834.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,1.7,0.0,95.1,4.4,1.75,19561.896,204.2,0.151972,41.2,42834.0

1. What is the average lead time for canceled and non-canceled hotel bookings?

* Group the data by the 'is_canceled' column and calculate the mean of the 'lead_time' column for each group.

2. How does the average daily rate (ADR) vary by the type of meal booked?

* Group the data by the 'meal' column and calculate the mean of the 'adr' column for each meal type.

3. What is the most common country of origin for hotel guests, and how many guests are from that country?

* Group the data by the 'country' column, count the number of occurrences for each country, and find the country with the highest count.

4. How does the average length of stay (in nights) vary by the year of arrival?

* Group the data by the 'arrival_date_year' column and calculate the mean of the 'stays_in_week_nights' column for each year.

5. What is the distribution of hotel bookings across different months for each type of deposit (e.g., No Deposit, Non Refund, etc.)?

* Pivot the data to have 'arrival_date_month' as rows, 'deposit_type' as columns, and the count of bookings as values.

6. How does the market segment for hotel bookings change over the years?

* Create a pivot table with 'arrival_date_year' as rows, 'market_segment' as columns, and the count of bookings as values.

7. What is the distribution of booking changes made by different room types (reserved_room_type) across different months of the year?

* Use the melt method to reshape the data, using 'reserved_room_type' as the ID variable and 'arrival_date_month' as the variable to be melted. Then, analyze the distribution of 'booking_changes' across different room types and months.

8. What is the total number of stays (weekend nights + weeknights) for each type of deposit (e.g., No Deposit, Non Refund, etc.) in each year of arrival?

* Use the pivot method with the following columns: 'arrival_date_year', 'deposit_type', 'stays_in_weekend_nights', and 'stays_in_week_nights' to reshape the data and calculate the total stays for each deposit type in each year.

9. What is the average daily rate (ADR) for different room types (assigned_room_type) in each month of the year?

* Use the pivot_table method with the following columns: 'arrival_date_month', 'assigned_room_type', and 'adr' to create a pivot table that calculates the mean ADR for each room type in each month.