<a href="https://colab.research.google.com/github/hewp84/CRT420/blob/main/Pandas_activity_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS: Activity 2

Analyzing different datasets with elements in common.

In [1]:
#Importing library
import pandas as pd

In [2]:
#Uploading datasets using pandas
participants = pd.read_csv('participants.csv')
admitted = pd.read_csv('admitted.csv')
admitted

,Application ID,Task Name,Task Status,Passport Number,Expiry Date,Unnamed: 5,Unnamed: 6
0,98691487,Passport Info,Complete,12945851,11/23/2027,NaN,NaN
1,77137568,Passport Info,Complete,76967320,4/5/2024,NaN,NaN
2,54464237,Passport Info,Complete,72296046,3/16/2024,NaN,NaN
3,56577861,Passport Info,Complete,51816282,11/24/2027,NaN,NaN
4,93591097,Passport Info,Complete,28171921,5/4/2028,NaN,NaN
...,...,...,...,...,...,...,...
492,94162468,Passport Info,Complete,20939402,11/9/2027,NaN,NaN
493,61225367,Passport Info,Complete,59157128,8/5/2024,NaN,NaN
494,97662023,Passport Info,Complete,29407549,6/20/2024,NaN,NaN
495,76078525,Passport Info,Complete,78852089,3/1/2025,NaN,NaN
496,91101534,Passport Info,Complete,58452209,7/25/2025,NaN,NaN

In [3]:
#Check dimensions
print(participants.shape)
print(admitted.shape)

(608, 7)
(497, 7)

In [4]:
#Clean dataframe
admitted = admitted.drop(admitted.columns[[5,6]], axis=1)
admitted

     Application ID      Task Name Task Status  Passport Number Expiry Date
0          98691487  Passport Info    Complete         12945851  11/23/2027
1          77137568  Passport Info    Complete         76967320    4/5/2024
2          54464237  Passport Info    Complete         72296046   3/16/2024
3          56577861  Passport Info    Complete         51816282  11/24/2027
4          93591097  Passport Info    Complete         28171921    5/4/2028
..              ...            ...         ...              ...         ...
492        94162468  Passport Info    Complete         20939402   11/9/2027
493        61225367  Passport Info    Complete         59157128    8/5/2024
494        97662023  Passport Info    Complete         29407549   6/20/2024
495        76078525  Passport Info    Complete         78852089    3/1/2025
496        91101534  Passport Info    Complete         58452209   7/25/2025

[497 rows x 5 columns]

In [5]:
del admitted['Task Name']
admitted

     Application ID Task Status  Passport Number Expiry Date
0          98691487    Complete         12945851  11/23/2027
1          77137568    Complete         76967320    4/5/2024
2          54464237    Complete         72296046   3/16/2024
3          56577861    Complete         51816282  11/24/2027
4          93591097    Complete         28171921    5/4/2028
..              ...         ...              ...         ...
492        94162468    Complete         20939402   11/9/2027
493        61225367    Complete         59157128    8/5/2024
494        97662023    Complete         29407549   6/20/2024
495        76078525    Complete         78852089    3/1/2025
496        91101534    Complete         58452209   7/25/2025

[497 rows x 4 columns]

In [6]:
#Using Merge method to link both datasets
df = pd.merge(participants, admitted, on='Application ID', how='inner')
df
#Try different 'how' options and write your conclusions

,First Name,Last Name,Email,Phone,Opportunity Number,Application ID,Program,Task Status,Passport Number,Expiry Date
0,Connie,Clark,c.clark@randatmail.com,298-4550-40,022zv5m2hp,98691487,"German Language & Culture in Berlin, Germany",Complete,12945851,11/23/2027
1,Ryan,Baker,r.baker@randatmail.com,452-3158-02,033629og0y,77137568,Ocean Conservation & Sustainability in Cape To...,Complete,76967320,4/5/2024
2,Jessica,Campbell,j.campbell@randatmail.com,778-4153-06,07nq14yxer,54464237,"K-Pop Immersion in Seoul, South Korea",Complete,72296046,3/16/2024
3,Jenna,Dixon,j.dixon@randatmail.com,944-8470-74,087skqpkkm,56577861,Leadership & Service in Youth Development in Y...,Complete,51816282,11/24/2027
4,Vivian,Perry,v.perry@randatmail.com,448-1626-54,09gpzhd6gh,93591097,"Japanese Language & Culture in Kyoto, Japan",Complete,28171921,5/4/2028
...,...,...,...,...,...,...,...,...,...,...
492,Derek,Murray,d.murray@randatmail.com,998-0697-83,tgj6e17cvb,94162468,"Japanese Language & Culture in Kyoto, Japan",Complete,20939402,11/9/2027
493,Sabrina,Hawkins,s.hawkins@randatmail.com,078-1267-64,tgo6dp0fwq,61225367,"Spanish Language & Culture in Barcelona, Spain",Complete,59157128,8/5/2024
494,Alissa,Carroll,a.carroll@randatmail.com,015-9702-55,tjuhh4wzhm,97662023,Mediterranean Marine Ecosystems & Sustainabili...,Complete,29407549,6/20/2024
495,Joyce,Holmes,j.holmes@randatmail.com,473-5363-08,tjyz2g8gwp,76078525,"Spanish Language & Culture in Barcelona, Spain",Complete,78852089,3/1/2025
496,Charlotte,Murphy,c.murphy@randatmail.com,060-9665-86,tk1zj7z67u,91101534,"Japanese Language & Culture in Kyoto, Japan",Complete,58452209,7/25/2025

In [7]:
#Extract passport expiring year
df['Year'] = df['Expiry Date'].str.slice(-4)
df['Year']

0      2027
1      2024
2      2024
3      2027
4      2028
       ...
492    2027
493    2024
494    2024
495    2025
496    2025
Name: Year, Length: 497, dtype: object

In [8]:
df

,First Name,Last Name,Email,Phone,Opportunity Number,Application ID,Program,Task Status,Passport Number,Expiry Date,Year
0,Connie,Clark,c.clark@randatmail.com,298-4550-40,022zv5m2hp,98691487,"German Language & Culture in Berlin, Germany",Complete,12945851,11/23/2027,2027
1,Ryan,Baker,r.baker@randatmail.com,452-3158-02,033629og0y,77137568,Ocean Conservation & Sustainability in Cape To...,Complete,76967320,4/5/2024,2024
2,Jessica,Campbell,j.campbell@randatmail.com,778-4153-06,07nq14yxer,54464237,"K-Pop Immersion in Seoul, South Korea",Complete,72296046,3/16/2024,2024
3,Jenna,Dixon,j.dixon@randatmail.com,944-8470-74,087skqpkkm,56577861,Leadership & Service in Youth Development in Y...,Complete,51816282,11/24/2027,2027
4,Vivian,Perry,v.perry@randatmail.com,448-1626-54,09gpzhd6gh,93591097,"Japanese Language & Culture in Kyoto, Japan",Complete,28171921,5/4/2028,2028
...,...,...,...,...,...,...,...,...,...,...,...
492,Derek,Murray,d.murray@randatmail.com,998-0697-83,tgj6e17cvb,94162468,"Japanese Language & Culture in Kyoto, Japan",Complete,20939402,11/9/2027,2027
493,Sabrina,Hawkins,s.hawkins@randatmail.com,078-1267-64,tgo6dp0fwq,61225367,"Spanish Language & Culture in Barcelona, Spain",Complete,59157128,8/5/2024,2024
494,Alissa,Carroll,a.carroll@randatmail.com,015-9702-55,tjuhh4wzhm,97662023,Mediterranean Marine Ecosystems & Sustainabili...,Complete,29407549,6/20/2024,2024
495,Joyce,Holmes,j.holmes@randatmail.com,473-5363-08,tjyz2g8gwp,76078525,"Spanish Language & Culture in Barcelona, Spain",Complete,78852089,3/1/2025,2025
496,Charlotte,Murphy,c.murphy@randatmail.com,060-9665-86,tk1zj7z67u,91101534,"Japanese Language & Culture in Kyoto, Japan",Complete,58452209,7/25/2025,2025

In [9]:
#Extract country from program using regex
df['Country'] = df['Program'].str.extract(r'in ([A-Za-z\s]+), ([A-Za-z\s]+)$', expand=True)[1]
df

,First Name,Last Name,Email,Phone,Opportunity Number,Application ID,Program,Task Status,Passport Number,Expiry Date,Year,Country
0,Connie,Clark,c.clark@randatmail.com,298-4550-40,022zv5m2hp,98691487,"German Language & Culture in Berlin, Germany",Complete,12945851,11/23/2027,2027,Germany
1,Ryan,Baker,r.baker@randatmail.com,452-3158-02,033629og0y,77137568,Ocean Conservation & Sustainability in Cape To...,Complete,76967320,4/5/2024,2024,South Africa
2,Jessica,Campbell,j.campbell@randatmail.com,778-4153-06,07nq14yxer,54464237,"K-Pop Immersion in Seoul, South Korea",Complete,72296046,3/16/2024,2024,South Korea
3,Jenna,Dixon,j.dixon@randatmail.com,944-8470-74,087skqpkkm,56577861,Leadership & Service in Youth Development in Y...,Complete,51816282,11/24/2027,2027,Mexico
4,Vivian,Perry,v.perry@randatmail.com,448-1626-54,09gpzhd6gh,93591097,"Japanese Language & Culture in Kyoto, Japan",Complete,28171921,5/4/2028,2028,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...
492,Derek,Murray,d.murray@randatmail.com,998-0697-83,tgj6e17cvb,94162468,"Japanese Language & Culture in Kyoto, Japan",Complete,20939402,11/9/2027,2027,Japan
493,Sabrina,Hawkins,s.hawkins@randatmail.com,078-1267-64,tgo6dp0fwq,61225367,"Spanish Language & Culture in Barcelona, Spain",Complete,59157128,8/5/2024,2024,Spain
494,Alissa,Carroll,a.carroll@randatmail.com,015-9702-55,tjuhh4wzhm,97662023,Mediterranean Marine Ecosystems & Sustainabili...,Complete,29407549,6/20/2024,2024,Spain
495,Joyce,Holmes,j.holmes@randatmail.com,473-5363-08,tjyz2g8gwp,76078525,"Spanish Language & Culture in Barcelona, Spain",Complete,78852089,3/1/2025,2025,Spain
496,Charlotte,Murphy,c.murphy@randatmail.com,060-9665-86,tk1zj7z67u,91101534,"Japanese Language & Culture in Kyoto, Japan",Complete,58452209,7/25/2025,2025,Japan

In [12]:
df['Username'] = df['Email'].str.split('@').str[0]

In [13]:
df

,First Name,Last Name,Email,Phone,Opportunity Number,Application ID,Program,Task Status,Passport Number,Expiry Date,Year,Country,Par,User ID,Username
0,Connie,Clark,c.clark@randatmail.com,298-4550-40,022zv5m2hp,98691487,"German Language & Culture in Berlin, Germany",Complete,12945851,11/23/2027,2027,Germany,7,NaN,c.clark
1,Ryan,Baker,r.baker@randatmail.com,452-3158-02,033629og0y,77137568,Ocean Conservation & Sustainability in Cape To...,Complete,76967320,4/5/2024,2024,South Africa,7,NaN,r.baker
2,Jessica,Campbell,j.campbell@randatmail.com,778-4153-06,07nq14yxer,54464237,"K-Pop Immersion in Seoul, South Korea",Complete,72296046,3/16/2024,2024,South Korea,10,NaN,j.campbell
3,Jenna,Dixon,j.dixon@randatmail.com,944-8470-74,087skqpkkm,56577861,Leadership & Service in Youth Development in Y...,Complete,51816282,11/24/2027,2027,Mexico,7,NaN,j.dixon
4,Vivian,Perry,v.perry@randatmail.com,448-1626-54,09gpzhd6gh,93591097,"Japanese Language & Culture in Kyoto, Japan",Complete,28171921,5/4/2028,2028,Japan,7,NaN,v.perry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,Derek,Murray,d.murray@randatmail.com,998-0697-83,tgj6e17cvb,94162468,"Japanese Language & Culture in Kyoto, Japan",Complete,20939402,11/9/2027,2027,Japan,8,NaN,d.murray
493,Sabrina,Hawkins,s.hawkins@randatmail.com,078-1267-64,tgo6dp0fwq,61225367,"Spanish Language & Culture in Barcelona, Spain",Complete,59157128,8/5/2024,2024,Spain,9,NaN,s.hawkins
494,Alissa,Carroll,a.carroll@randatmail.com,015-9702-55,tjuhh4wzhm,97662023,Mediterranean Marine Ecosystems & Sustainabili...,Complete,29407549,6/20/2024,2024,Spain,9,NaN,a.carroll
495,Joyce,Holmes,j.holmes@randatmail.com,473-5363-08,tjyz2g8gwp,76078525,"Spanish Language & Culture in Barcelona, Spain",Complete,78852089,3/1/2025,2025,Spain,8,NaN,j.holmes
496,Charlotte,Murphy,c.murphy@randatmail.com,060-9665-86,tk1zj7z67u,91101534,"Japanese Language & Culture in Kyoto, Japan",Complete,58452209,7/25/2025,2025,Japan,8,NaN,c.murphy

### Exercises

1. Create a dataframe with selected columns: Application ID, First name, Last name, Passport number, Country, email, phone number.
2. Do a merge operation with world-data-2023 with the columns: Gross primary education enrollment %, Gross tertiary education enrollment %, minimum wage, unemployment rate.
3. Use the describe method to check statistics.