<a href="https://colab.research.google.com/github/hewp84/CRT420/blob/main/Pandas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS: Webscrapping tables and edit strings

## WebScrapping tables
You can use the `pandas` library in Python to extract data from HTML tables. The pandas library provides a function called `read_html` that can automatically parse HTML tables and return them as DataFrame objects.

In [ ]:
import pandas as pd

# URL of the webpage containing the HTML table(s)
url = 'paste url here'

# Read the HTML tables from the webpage
tables = pd.read_html(url)

# Depending on the webpage structure, there might be multiple tables
# You can access each table using tables[index], where index is the index of the table you want to extract

# For example, to extract the first table
table1 = tables[0]
table1

In [ ]:
#Example 1: Extract different tables

In [ ]:
#Example 2: Use a boolean mask to pull the records when Argentina won the World Cup

In [ ]:
#Example 3: Add attendance

## String Methods
### Syntax
<table style="float:left; margin-left:3px;">
  <tr>
    <th>Data structure</th>
    <th>Method</th> 
  </tr>
  
  <tr>
    <td>Dataframe</td>
    <td>df['column_name'].str.method()</td>
  </tr>
  
  <tr>
    <td>Column</td>  
    <td>column.str.method()</td>
  </tr>
</table>

### Methods
<table style="float:left; margin-left:3px;">
<tr>
<th>Method</th> 
<th>Parameters</th>
<th>Description</th>
</tr>

<tr>
<td>str.upper()</td>  
<td>None</td>
<td>Converts a string to uppercase.</td>
</tr>

<tr>  
<td>str.lower()</td>
<td>None</td>  
<td>Converts a string to lowercase.</td>
</tr>

<tr>
<td>str.strip()</td>
<td>None</td>
<td>Removes leading and trailing whitespace from a string.</td>  
</tr>

<tr>
<td>str.lstrip()</td>
<td>None</td>
<td>Removes leading whitespace from a string.</td>
</tr>

<tr>
<td>str.rstrip()</td> 
<td>None</td>
<td>Removes trailing whitespace from a string.</td>
</tr>

<tr>
<td>str.replace()</td>
<td>to_replace, replacement, regex=False</td>  
<td>Replaces all occurrences of a substring with another substring.</td>
</tr>

<tr>
<td>str.split()</td>
<td>delimiter, expand=False</td>
<td>Splits a string into a list of substrings based on a delimiter.</td>
</tr>

<tr>  
<td>str.join()</td>
<td>seq, separator</td>
<td>Joins a list of substrings into a single string using a delimiter.</td> 
</tr>
    
<tr>  
<td>str.slice()</td>
<td>start, stop, step</td>
<td>Slices a string using starting index position, stopping index position and step.</td> 
</tr>

<tr>
<td>str.len()</td> 
<td>None</td>
<td>Returns the length of a string.</td>
</tr>

<tr>
<td>str.isalpha()</td>
<td>None</td>
<td>Returns True if a string contains only alphabetic characters.</td>
</tr>

<tr>
<td>str.isdigit()</td>  
<td>None</td>
<td>Returns True if a string contains only numeric characters.</td>
</tr>

</table>