# Python with MySQL

To connect to a MySQL database using Python and Jupyter Notebooks, you can use the mysql-connector-python package, which is a MySQL driver for Python. Here are the steps to connect to a MySQL database using Python and Jupyter Notebooks:

#### Step 1: Install the MySQL Connector Python Package
If you haven't already installed the mysql-connector-python package, you can install it using pip in your Jupyter Notebook. Run the following command in a code cell:

In [ ]:
!pip install mysql-connector-python

#### Step 2: Import the Required Libraries
In your Jupyter Notebook, start by importing the necessary libraries. You'll need `mysql.connector` to establish a connection to the MySQL database.

In [ ]:
import mysql.connector

#### Step 3: Establish a Connection to the MySQL Database
Next, establish a connection to your MySQL database by providing the host, username, password, and database name as arguments to the `mysql.connector.connect()` function.

In [ ]:
# Replace 'your_host', 'your_username', 'your_password', and 'your_database' with your actual MySQL credentials
host = 'your_host'
#port = 3306
username = 'your_username'
password = 'your_password'
database = 'your_database'

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host=host,
    #port=port,
    user=username,
    password=password,
    database=database
)

# Create a cursor object using the cursor() method
cursor = connection.cursor()

# Now, you have a working connection and cursor to interact with the MySQL database

#### Step 4: Execute SQL Queries
You can execute SQL queries using the `execute()` method of the cursor object. For example, to retrieve data from a table, you can do the following:

In [ ]:
# Example: Execute a SELECT query
query = "SELECT * FROM your_table_name"

# Execute the query
cursor.execute(query)

# Fetch all the rows from the query result
result = cursor.fetchall()

# Print the result
for row in result:
    print(row)

#### Step 5: Close the Connection
After you have executed your queries and retrieved the necessary data, it's good practice to close the cursor and the connection.

In [ ]:
# Close the cursor and connection
cursor.close()
connection.close()

## Python and CRUD operations with MySQL

Performing `INSERT`, `UPDATE`, and `DELETE` operations in a MySQL database using Python in Jupyter Notebooks involves similar steps to establishing a connection. First, ensure you've installed the `mysql-connector-python` package as mentioned in the previous responses. Then, follow these steps for each operation:

#### 1. INSERT Operation:
To insert data into a MySQL table, you can use an `INSERT` SQL statement. Here's an example of how you can perform an `INSERT` operation using Python in Jupyter Notebook:

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database (similar to the connection step mentioned in the previous responses)
connection = mysql.connector.connect(
    host='your_host',
    user='your_username',
    password='your_password',
    database='your_database'
)

# Create a cursor object
cursor = connection.cursor()

# Example INSERT query
insert_query = "INSERT INTO your_table_name (column1, column2, column3) VALUES (%s, %s, %s)"

# Data to be inserted
data = ('value1', 'value2', 'value3')

# Execute the INSERT query
cursor.execute(insert_query, data)

# Commit the transaction
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

Replace `'your_table_name'` with your actual table name and specify the column names and values you want to insert.

#### 2. UPDATE Operation:
To update existing records in a MySQL table, you can use an `UPDATE` SQL statement. Here's how you can perform an `UPDATE` operation using Python:

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database (similar to the connection step mentioned in the previous responses)
connection = mysql.connector.connect(
    host='your_host',
    user='your_username',
    password='your_password',
    database='your_database'
)

# Create a cursor object
cursor = connection.cursor()

# Example UPDATE query
update_query = "UPDATE your_table_name SET column1 = %s WHERE column2 = %s"

# New data and condition
new_value = 'new_value'
condition_value = 'condition_value'

# Execute the UPDATE query
cursor.execute(update_query, (new_value, condition_value))

# Commit the transaction
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

Replace `'your_table_name'` with your actual table name and specify the column names, new values, and the condition for the update.

#### 3. DELETE Operation:
To delete records from a MySQL table, you can use a `DELETE` SQL statement. Here's how you can perform a `DELETE` operation using Python:

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database (similar to the connection step mentioned in the previous responses)
connection = mysql.connector.connect(
    host='your_host',
    user='your_username',
    password='your_password',
    database='your_database'
)

# Create a cursor object
cursor = connection.cursor()

# Example DELETE query
delete_query = "DELETE FROM your_table_name WHERE column1 = %s"

# Value to be deleted
value_to_delete = 'value_to_delete'

# Execute the DELETE query
cursor.execute(delete_query, (value_to_delete,))

# Commit the transaction
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

Replace `'your_table_name'` with your actual table name and specify the column name and value for the deletion condition.

## PANDAS and MySQL

### Displaying a Query result as a PANDAS DataFrame

In [ ]:
import pandas as pd

# Assuming 'result' contains the fetched data from MySQL

# Convert the result into a Pandas DataFrame
df = pd.DataFrame(result, columns=["column1", "column2", "column3", ...])

# Replace "column1", "column2", "column3", ... with the actual column names from your database table
df

### Inserting a DataFrame to a MySQL Table

You can insert a Pandas DataFrame into a MySQL table using the `to_sql()` method provided by Pandas.

In [ ]:
import pandas as pd
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host='your_host',
    user='your_username',
    password='your_password',
    database='your_database'
)

# Assuming df is your Pandas DataFrame containing the data
# Example DataFrame creation
data = {
    'column1': ['value1', 'value2', 'value3'],
    'column2': ['value4', 'value5', 'value6']
}

df = pd.DataFrame(data)


# Specify the table name
table_name = 'your_table_name'

# Insert the DataFrame into the MySQL table
df.to_sql(name=table_name, con=connection, if_exists='append', index=False)

# Close the connection
connection.close()

In the `to_sql()` method:

* `name` is the name of the MySQL table you want to insert the data into.
* `con` is the database connection.
* `if_exists='append'` specifies that the data should be appended to the existing table. You can also use `'replace'` to replace the table if it already exists.
* `index=False` ensures that the DataFrame index is not inserted as a separate column in the MySQL table.